{% extends 'base.html' %}

{% block page_title %}About Page{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1 class="page-headings">Bye-O!</h1>
            <hr class="block-divider">
            <p class="product-description">Artist from an embryo. Been living in sussex for a while. 
            Doing art and doing pubs. I have spent my time doing various different mediums. If you have taken the time to look through my shit, 
            thanks. If you like what you see, awesome... If you Want to shoot the shit? I do, reach out, send me your art.
            A lot of Spray paints, Stencils, Digital work and Photoshop, that's my bag.. </p>
            <br>
            <hr class="block-divider">
            <br>
            <p class="product-description"><i class="fas fa-envelope-open"> cteeddery@gmail.com</i></p>
            <hr class="block-divider">
            <br>
            <div class="map-wrapper">
			    <div id="map"></div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="aligner">
            <!--Carousel code from https://bootsnipp.com/snippets/xBdN-->
                <div class="carousel aligner-item">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="9"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="10"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                            <img src="https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/carousel-1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="item">
                            <img src="https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/carousel-2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="item">
                            <img src="https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/carousel-3.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="item">
                            <img src="https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/carousel-4.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="item">
                            <img src="https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/carousel-5.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="item">
                            <img src="https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/carousel-6.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="item">
                            <img src="https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/carousel-7.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="item">
                            <img src="https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/carousel-8.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="item">
                            <img src="https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/carousel-9.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="item">
                            <img src="https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/carousel-10.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
            </div>   
        </div>
   
    </div>
</div>


{%  endblock %}
