{% extends 'base.html' %}

{% block page_title %}About Page{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1 class="page-headings">Bye-O!</h1>
            <hr class="block-divider">
            <p class="product-description">Artist from an embryo. Been living in sussex for a while. 
            Doing art and doing pubs. I have spent my time doing various different mediums. If you have taken the time to look through my shit, 
            thanks. If you like what you see, awesome... If you Want to shoot the shit? I do, reach out, send me your art.
            A lot of Spray paints, Stencils, Digital work and Photoshop, that's my bag.. </p>
            <br>
                <hr class="block-divider">
            <br>
                <p class="product-description"><i class="fas fa-envelope-open"> cteeddery@gmail.com</i></p>
                <hr class="block-divider">
            <br>
            <div class="map-wrapper">
                <div id="map"></div>
            </div>

        </div>

        <div class="col-md-6 about-images">
            <img class="myImgAbout" src="https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/carousel-1.jpg" class="d-block w-100" alt="...">
            <img class="myImgAbout" src="https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/carousel-2.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>


{%  endblock %}
