{% extends 'base.html' %}

{% block page_title %}About Page{% endblock %}

{% block content %}

<!DOCTYPE html>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1 class="page-headings">Artist since I decided I could be.</h1>
            <hr class="block-divider">
            <p class="product-description">Want to shoot the shit? I do, reach out, we can chat.</p>
            <br>
            <p class="product-description"><i class="fas fa-phone"> 07895456231</i></p>
            <hr class="block-divider">
            <br>
            <p class="product-description"><i class="fas fa-envelope-open"> cteeddery@gmail.com</i></p>
            <hr class="block-divider">
            <br>
            <div class="map-wrapper">
			    <div id="map"></div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="img-about">
                <img src='/media/images/front-page-images/cattiled.jpg'  alt="Tesla the cat in tiles"/>
            </div>
        </div>
   
    </div>
</div>
</html>

{%  endblock %}