html {
    scroll-behavior: smooth;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.5rem;
}

/*-- NavBar --*/

.nav {
    padding: 15px;
}

.navbar-nav {
    margin: auto;
}

#dropdownMenuButton {
    cursor: pointer;
}

/*-- Homepage --*/

.img-bg {
  background-image: url('/media/images/front-page-images/front-page.jpg');
  background-size: 100% auto;
  height: 900px;
  width: 100%;
  text-align: center;
  /* background-attachment: fixed; */
  background-position: top 100px;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

/*-- Footer --*/

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
    text-align: center;
    height: 3.5rem;
}

form {
    width: 50%;
}

body {
    padding-top: 80px;
    font-family: 'Montserrat Alternates', sans-serif;
}

i {
    cursor: pointer;
}


.icon-bar {
    background-color: #fff;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
    position: relative;
}

.panel-body {
    border: 1px solid #ddd;
    overflow: hidden;
    width: 100%;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    overflow: auto;
}

.product-description {
    min-height: 40px;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

/*--Image Model--*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 500px;
}

.modal-content {
    -webkit-animation-name: zoom;
    animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}


@keyframes zoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: 700;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding-top: 100px;
}

.close:focus,
.close:hover {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.myImg {
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/*-- Media Queries ---*/

@media (min-width: 768px) {
    .nav {
        padding: 5px;
    }
}



