html {
    scroll-behavior: smooth;
}


#content-wrap {
  width: 100%;
  min-height: calc(100vh - 201px);
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
    #content-wrap {
        min-height: calc(100vh - 191px)
    }
}

body {
    padding-top: 81px;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #130d0dc9;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

@media (min-width: 768px) {
    body {
        padding-top: 71px;
    }
}

.message-user {
    color: #fff;
}

.notification{
    position: absolute;
    top: 10rem;
    left: 1rem;
    background: #000;
    color: #16c32b;
    font-size: 3rem;
    border-radius: 4px;
    padding: 2px;
}

/*-- Log in and register forms --*/

.register-form {
    min-height: calc(100vh - 415px);
}

@media (min-width: 768px) {
    .register-form {
    min-height: calc(100vh - 349px);
    }
}

.login-form {
    min-height: calc(100vh - 270px);
}

@media (min-width: 768px) {
    .login-form {
    min-height: calc(100vh - 260px);
    }
}

/*--Heading--*/

h2 {
    color: #fff;
}

.page-headings {
    color: #fff;
    padding-top: 30px;
}

.block-divider {
    border-top: 1px #16c32b solid;
    width: 70%;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*-- NavBar --*/

/* .nav {
    padding: 15px;
} */

.navbar-header .navbar-brand {
    color: #fff;
    transition: all .5s ease-in-out;
    
}

.navbar-header .navbar-brand:hover {
    color: #16c32b;
    transform: scale(1.5);
}

.navbar-header {
    padding: 15px;
}

#navbar ul li a {
    color: #fff;
}

#navbar ul li a:hover {
    color: #16c32b;
}

.nav-anima {
    transition: transform .5s ease-in-out;
}

.nav-anima:hover {
    color: #16c32b;
    transform: scale(1.4);
}

#main-navbar {
    border-bottom: 1px solid #ededed;
}

.navbar-nav {
    margin: auto;
}

#dropdownMenuButton {
    cursor: pointer;
}

.dropdown-item {
    transform: none;
}

.dropdown-menu li a:hover {
    background-color: #000;
}

.navbar-inverse {
    background-color: #000;
}

.dropdown-menu {
    background-color: #000;
    text-align: center;
    border: 1px solid #fff;
}

/*-- Homepage --*/

.img-bg {
  background: url('/media/images/front-page-images/mobile-homepage.jpg') no-repeat center top;
  background-size: cover;
  height: 800px;
  width: 100%;
  padding: 0;
  margin: 0;
  bottom: -100px;
}

@media (min-width: 768px) {
    .img-bg {
        background: url('/media/images/front-page-images/front-page.jpg') no-repeat center top;
        background-size: cover;
        height: 659px;
        width: 100%;
        padding: 0;
        margin: 0;
        bottom: -100px;
    }
}

@media (min-width: 1440px) {
    .img-bg {
        background: url('/media/images/front-page-images/front-page.jpg') no-repeat center top;
        background-size: cover;
        height: 750px;
        width: 100%;
        padding: 0;
        margin: 0;
        bottom: -100px;
    }
}

@media (min-width: 1440px) {
    .img-bg {
        background: url('/media/images/front-page-images/front-page.jpg') no-repeat center top;
        background-size: cover;
        height: 900px;
        width: 100%;
        padding: 0;
        margin: 0;
        bottom: -100px;
    }
}

@media (min-width: 2560px) {
    .img-bg {
        background: url('/media/images/front-page-images/front-page.jpg') no-repeat center top;
        background-size: cover;
        height: 1650px;
        width: 100%;
        padding: 0;
        margin: 0;
        bottom: -100px;
    }
}

/*-- About --*/

.contact-info-wrapper {
    padding-top: 100px;
}

.img-about img {
    width: 80%;
    height: auto;
    border-radius: 4px;
}

.img-about {
    width: 100%;
    margin-top: 10%;
    margin-left: 15%;
    display: none;
    padding-bottom: 20px;
}

@media (min-width: 1440px) {
    .img-about {
        margin-top: 10%;
        margin-left: 25%;
    }
}

@media (min-width: 1024px) {
    .img-about {
        display: block;
    }
}

/*--Maps--*/

#map {
    width: 100%;
    height: 300px;
    border-radius: 4px;
}

.map-wrapper {
    padding-bottom: 20px;
}

@media (min-width: 768px){
    #map {
        width: 70%;
    }
}

@media (min-width: 1024px){
    #map {
        width: 100%;
    }
}


/*-- Footer --*/

footer {
    height: 12rem;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    background-color: #000000a8;
    text-align: center;
    bottom: 0;
    width: 100%;
}

form {
    vertical-align:middle;
}

.aligner {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media(min-width: 768px) {
    .aligner {
        align-items: center;
    }
}

.aligner-item {
  width: 70%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.control-label {
    color: #fff;
}


i {
    cursor: pointer;
}

.social ul li i:hover {
    color: #16c32b;
    transform: scale(1.5);
}

.social ul li i {
    color: #fff;
    padding: 5px;
    transition: transform .5s ease-in-out;
}

.social {
    padding-top: 16px;
}

.footer-text p {
    color: #fff;
}

.footer-text {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 768px) {
    .footer-text {
        padding-bottom: 20px;
    }
}

.icon-bar {
    background-color: #fff;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

/*--Product--*/

.product-title {
    font-size: 4rem;
    color: #fff;
}

.product-description {
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.product-price {
    font-size: 1.5rem;
    color: #fff;
}

.btn {
    color: #000;
    background-color: #fff;
    transition: transform .3s ease-in-out;
    outline: none;
}

.btn:hover {
    color: #fff;
    background-color: #16c32b;
    transform: scale(1.1);
    outline: none;
}


.select-size-label {
    padding-top: 100px;
}

.size-option {
    border-radius: 4px;
    text-align: center;
}

.quantity-select-form {
    padding-top: 10px;
    width: 70%;
}

.panel-default {
    border-color: transparent;
    position: relative;
    padding: none;
}

.panel-body {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.panel {
    background-color: transparent;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    overflow: auto;
}

.product-description {
    min-height: 40px;
    color: #fff;
}

.toggle-description {
    display: none;
    color: #fff;
}

.toggle-show-button {
    color: #fff;
    z-index: 3;
    padding-top: 20px;
}


.toggle-description-show {
    width: 100%;
    height: 90%;
    background: linear-gradient(to bottom right, #000000 , #0ba92e);
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    transition: all .4s ease;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

/*-- Cart --*/

.panel-cart {
    display:table;
    margin-bottom: 0px;
    border: none;
    width: 100%;
}

.panel-body {
  display: inline-block;
}

.panel-heading {
  padding: 0px 15px;
  display: table-cell;
  width: 400px;
  border: none;
}

.panel-heading:before, .panel-heading:after {
  content: " ";
  display: table;
}

.panel-info>.panel-heading {
    color: transparent;
    background-color: transparent;
    border-color: none;
}

.cart-wrapper {
    position: absolute;
    left: 10px;
}

.total-wrapper {
    position: fixed;
    bottom: 125px;
    right: 50px;
}

.edit-size-label {
    color: #fff;
    font-size: 1.7rem; 
    padding-right: 5px;
}

#size-options {
    color: #000;
    border-radius: 4px;
    font-size: 1.7rem;
    padding-left: 5px;
    height: 34px;
}

/*--Image Model--*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 500px;
}

.modal-content {
    -webkit-animation-name: zoom;
    animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}


@keyframes zoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: 700;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding-top: 100px;
}

.close:focus,
.close:hover {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.myImg {
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/*-- Media Queries ---*/

@media (min-width: 768px) {
    .nav {
        padding: 5px;
    }
}

@media (min-width: 768px) {
    .navbar-header {
        padding: 5px;
    }
}



