html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#content-wrap {
  width: 100%;
  min-height: calc(100vh - 201px);
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
    #content-wrap {
        min-height: calc(100vh - 191px)
    }
}

body {
    padding-top: 81px;
    font-family: 'Montserrat Alternates', sans-serif;
    background: -webkit-gradient(linear, left top, right bottom, from(#000000) , to(#0000007d));
    background: -o-linear-gradient(top left, #000000 , #0000007d);
    background: linear-gradient(to bottom right, #000000 , #0000007d);
    width: 100%;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    height: 100%;
    overflow-x: hidden; 
}

@media (min-width: 768px) {
    body {
        padding-top: 71px;
    }
}

.alert {
    margin-bottom: 0;
    border-radius: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.row.row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media (min-width: 768px){
    .row.row-flex {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
    }
}


.fixed {
    position: fixed;
    bottom: 0px;
}

/*-- To center align element --*/

.aligner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


@media(min-width: 768px) {
    .aligner {
        align-items: center;
    }
}

.aligner-item {
  padding-top: 50px;
  padding-bottom: 20px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*--carousel--*/

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

.carousel {
    width: 100%;
    margin-top: 10%;
    margin-left: 15%;
    display: none;
    padding-bottom: 20px;
}

@media (min-width: 1440px) {
    .carousel {
        display: block;
    }
}


/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}


.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;

}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  color: #16c32b;
}

.carousel-control.left {
    margin-left: -15%;
}

.carousel-control.right {
    margin-right: -15%;
}

/*-- Log in and register forms --*/


.login-content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.register-form {
    min-height: calc(100vh - 415px);
}

.register {
    width: 95%;
}

.login {
    width: 95%;
}

@media (min-width: 768px) {
    .register-form {
    min-height: calc(100vh - 349px);
    }
}

@media (min-width: 768px) {
    .register {
    width: 70%;
    }
}

@media (min-width: 768px) {
    .register-form {
    width: 70%;
    }
}


@media (min-width: 1024px) {
    .register {
        width: 50%;
    }
}

@media (min-width: 1440px) {
    .login {
        width: 70%;
    }
}

.login-form {
    min-height: calc(100vh - 270px);
}

@media (min-width: 768px) {
    .login-form {
    min-height: calc(100vh - 260px);
    }
}

/*--Headings--*/

h2 {
    color: #fff;
}

.page-headings {
    color: #fff;
    padding-top: 30px;
}

.block-divider {
    border-top: 1px #16c32b solid;
    width: 70%;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*--Button stylings for all buttons--*/

.btn {
    color:#fff;
    background-color:#313131;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    outline: #fff;
    border: 1px solid #fff;
}

.btn:hover {
    color: #fff;
    background-color: #16c32b;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    outline: #fff;
    border: 1px solid #fff;
}

.btn:active {
    outline: none;
}

.adjust-btn {
    padding-left: 5px;
}

/*-- NavBar --*/

/*-- Centering and colouring canvas and paper dropdown navlinks --*/

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
}

.navbar-nav>li>.dropdown-menu {
    margin-right: 6px;
}

.navbar-right .dropdown-menu {
    right: auto;
    left: auto;
}

/*-- Taking away background colour from 'Gallery'--*/

.navbar-inverse .navbar-nav>.open>a {
    background-color: transparent!important;
}

/*-- Changing colour of nav link when on that page --*/

#active-navlink {
    color: #16c32b;
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
    margin-top: -1px;
}

.navbar-header {
    padding: 15px;
}

/*-- Changing colour of logo when hover over it --*/

.navbar-header .navbar-brand {
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    
}

.navbar-header .navbar-brand:hover {
    color: #16c32b;
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
}

/*-- Changing size of logo dependant on screen --*/

.navbar-brand {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .navbar-brand {
        font-size: 18px;
    }
}

/* -- Colouring nav links white --*/

.navbar-collapse .nav .nav-link {
    color: #fff;
}

/*-- Changing nav links size and colour when hover --*/

#navbar ul li a:hover {
    color: #16c32b;
}

.nav-anima {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.nav-anima:hover {
    color: #16c32b;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
}

#main-navbar {
    border-bottom: 1px solid #ededed;
}

.navbar-nav {
    margin: auto;
}

#dropdownMenuButton {
    cursor: pointer;
}

/*-- No animation on canvas and paper pages --*/

.dropdown-item {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}


.dropdown-menu li a:hover {
    background-color: #000;
}

.navbar-inverse {
    background-color: #000;
}

.dropdown-menu {
    background-color: #403f3f;
    text-align: center;
    border: 1px solid #fff;
    min-width: auto;
}

.navbar-collapse {
    text-align: center;
}

@media (min-width: 768px) {
    .nav {
        padding: 5px;
    }
}

@media (min-width: 768px) {
    .navbar-header {
        padding: 5px;
    }
}

/*-- Homepage Images--*/

.img-bg {
  background: url('https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/mobile-homepage.jpg') no-repeat center top;
  background-size: cover;
  height: 800px;
  width: 100%;
  padding: 0;
  margin: 0;
  bottom: -100px;
}

@media (min-width: 768px) {
    .img-bg {
        background: url('https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/sophiewebmain.png') no-repeat center top;
        background-size: cover;
        height: 659px;
        width: 100%;
        padding: 0;
        margin: 0;
        bottom: -100px;
    }
}

@media (min-width: 1024px) {
    .img-bg {
        background: url('https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/sophiewebmain.png') no-repeat center top;
        background-size: cover;
        height: 660px;
        width: 100%;
        padding: 0;
        margin: 0;
        bottom: -100px;
    }
}

@media (min-width: 1440px) {
    .img-bg {
        background: url('https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/sophiewebmain.png') no-repeat center top;
        background-size: cover;
        height: 810px;
        width: 100%;
        padding: 0;
        margin: 0;
        bottom: -100px;
    }
}

@media (min-width: 2560px) {
    .img-bg {
        background: url('https://cte-ecommerce.s3.eu-west-2.amazonaws.com/media/images/sophiewebmain.png') no-repeat center top;
        background-size: cover;
        height: 1700px;
        width: 100%;
        padding: 0;
        margin: 0;
        bottom: -100px;
    }
}

    .img-bg-success {
    background-size: cover;
    height: 700px;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: -100px;
    z-index: -1;
}

@media (min-width: 1440px) {
    .img-bg-success {
        background-size: cover;
        height: 850px;
        width: 100%;
        padding: 0;
        margin: 0;
        bottom: -100px;
    }
}

@media (min-width: 2560px) {
    .img-bg-success {
        background-size: cover;
        height: 1650px;
        width: 100%;
        padding: 0;
        margin: 0;
        bottom: -100px;
    }
}

/*-- About --*/

.contact-info-wrapper {
    padding-top: 100px;
}

.myImgAbout {
    width: 400px;
    height: auto;
    border-radius: 4px;
    padding-bottom: 20px;
}

.about-images {
    margin-top: 100px;
    padding-left: 50px;
} 

/*--Maps--*/

#map {
    width: 100%;
    height: 300px;
    border-radius: 4px;
}

.map-wrapper {
    padding-bottom: 20px;
}

@media (min-width: 768px){
    #map {
        width: 70%;
    }
}

@media (min-width: 1024px){
    #map {
        width: 100%;
    }
}


/*-- Footer --*/

footer {
    height: 12rem;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    background-color: #000;
    text-align: center;
    bottom: 0;
    width: 100%;
}

form {
    vertical-align:middle;
}



.control-label {
    color: #fff;
}

i {
    cursor: pointer;
}

.social ul li i:hover {
    color: #16c32b;
    transform: scale(1.5);
}

.social ul li i {
    color: #fff;
    padding: 5px;
    transition: transform .5s ease-in-out;
}

.social {
    padding-top: 16px;
}

.footer-text p {
    color: #fff;
}

.footer-text {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 768px) {
    .footer-text {
        padding-bottom: 20px;
    }
}

.icon-bar {
    background-color: #fff;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

/*-----Product Panels-----*/

/*--- Changin sizes of images as screen size changes ----*/

.myImg {
    width: 100%;
    max-height: 800px; 
}


@media (min-width: 1024px) {
    .myImg {
        width: auto;
    }
}

/*---- Product styling (shop panels) ----*/

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding-bottom: 10px;
}

.product:hover {
    opacity: 0.7;
}

.product-title {
    font-size: 2.5rem;
    color: #fff;
}

.product-description {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    min-height: 40px;
    color: #fff;
}

.product-description a {
    color: #0089ff;
}

.control-label a {
    color: #0089ff;
}

.product-price {
    font-size: 1.5rem;
    color: #fff;
}

select {
    background-color: #fff;
    border-radius: 4px;
    outline: none;
    color: #313131;
}

select:hover {
    background-color: #16c32b;
    border: none;
    outline: none;
}

.quantity-select-form {
    padding-top: 10px;
}

/*--- Just panel styles ---*/

.panel-default {
    border: 0;
    position: relative;
    padding: 0;
}

.panel {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.panel-heading {
  padding: 0px 15px;
  display: inline-block;
  width: 400px;
  border: none;
}

.panel-body {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: inline-block;
    height: 360px;
}

.panel-heading:before, .panel-heading:after {
  content: " ";
  display: table;
}

.panel-info>.panel-heading {
    background-color: transparent;
    border-color: transparent;
    border: 0;
}

.caption {
    width: 100%;
}

@media (min-width: 375px) {
    .panel-body {
        height: 450px;
    }
}

@media (min-width: 425px) {
    .panel-body {
        height: 500px;
    }
}

@media (min-width: 768px) {
    .panel-body {
        height: 550px;
    }
}

@media (min-width: 1440px) {
    .panel-body {
        height: 570px;
    }
}

/*------ Toggle Styles -----*/

.toggle-description {
    display: none;
    color: #fff;
}

.toggle-show-button {
    color: #fff;
    z-index: 3;
    padding-top: 20px;
    position: absolute;
    bottom: 0px;
}

.toggle-description-show {
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right bottom, from(#000000) , to(#56315a));
    background: -o-linear-gradient(top left, #000000 , #56315a);
    background: linear-gradient(to bottom right, #000000 , #56315a);
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
}

/*-- Stripe error message --*/

#stripe-error-message {
    color: #fff;
    background-color: red;
    border-radius: 4px;
    padding: 5px;
    font-size: 2rem;
    text-align: center;
}

#credit-card-errors {
    padding-bottom: 5px;
}

/* Django error messages --*/

#error_id_password2_1,
#error_id_password2_2,
#error_id_username_1,
#error_id_email_1 {
    color: #e65b5b;
}

/*-- Checkout --*/

.checkout-title {
    font-size: 3rem;
    color: #fff;
}

.total-checkout-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 10px;

}

.checkout-row {
    margin-left: 0;
    margin-right: 0;
}

.panel-checkout {
    display: table-cell;
    margin-bottom: 10px;
    border: 1px solid #cf89ff;
    border-radius: 4px;
    padding: 5px;
    position: relative;
    background-color: #c159de5c;
    vertical-align: middle;
    text-align: center;
    width: 250px;
    margin-right: 5px;
}

.product-checkout {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    overflow: auto;
}

.product-title-checkout {
    font-size: 2rem;
    color: #fff;
}

.product-description-checkout {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
}

.panel-body-checkout {
    border: none;
    padding: 5px;
    text-align: start;
    float: left;
}

.panel-heading-checkout {
  display: inline-block;
  width: 200px;
  border: none;
}

legend {
    border-bottom: 1px solid #16c32b;
}

/*-- Cart --*/

.input-group-addon {
    color: #000;
    font-weight: 700;
}

select option {
    color: #fff;
}

.panel-cart {
    display: table-cell;
    margin-bottom: 10px;
    border: 1px solid #b65ff3;
    border-radius: 4px;
    padding: 5px;
    position: relative;
    background-color: #46324c8f;
    vertical-align: middle;
    text-align: center;
    margin-right: 5px;
}

.product-cart {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    overflow: auto;
}


.panel-body-cart {
    border: none;
    text-align: start;
    padding: 5px;
    float: left;
    width: 100%;
}

.panel-heading-cart {
  display: inline-block;
  width: 200px;
  border: none;
}

.cart-wrapper {
    position: absolute;
    left: 10px;
}

.total-wrapper {
    border: 1px solid #b65ff3;
    border-radius: 4px;
    margin-top: 0;
    background-color: #46324c8f;
    display: inline-block;
    margin-bottom: 5px;
    width: 200px;
    height: auto;
    padding-bottom: 5px;
}

@media (min-width: 768px) {
    .total-wrapper {
        position: fixed;
        bottom: 125px;
        right: 50px;
    }
}

/*--Image Modal--*/

.modal {
    text-align: center;
}

.modal:before {
    content: "";      
    display: inline-block;
    height: 100%;    
    margin-right: -4px;
    vertical-align: middle;
}

.modal-title {
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    bottom: 5px;
}

.modal-dialog { 
    display: inline-block;  
    text-align: left;   
    vertical-align: middle;
    margin: 0;
}

.modal-content {
    position: relative;
    text-align: center;
    background-color: #000;
}

.modal-header {
    position: relative;
}


button.close {
    font-size: 4rem;
    color: #fff;
    opacity: 1;
    text-shadow: none;
}

button.close:hover {
    color: #16c32b;
}


@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/*-- Forms --*/

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    background-color: #313131;
    -webkit-box-shadow: 0 0 0px 1000px #313131 inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
}

.form-group {
    padding: 5px;
    width: 100%;
    outline: none;
}

.input-group .form-control {
    float: none;
}

#id_email,
#id_username,
#id_password1,
#id_password2,
#id_first_name,
#id_last_name
 {
    background-color: #313131;
    border-color: #fff;
    color: #fff;
}

input {
    background-color: #313131!important;
    border-color: #fff!important;
    color: #fff!important;
}

.form-control {
    background-color: #313131!important;
    color: #fff;
}

input:-internal-autofill-selected {
    background-color: #313131!important;
}

/*-- Payment forms --*/

.payment-forms {
    margin-top: 50px;
}


/* Code taken from https://developpaper.com/django-builds-personal-blogs-back-to-the-top-floating-buttons-vector-icons-footer-sinks-and-sticky-sidebars/ */
/* ---- To Top Button ----*/

    .toTop-arrow {
        width: 3.5rem;
        height: 3.5rem;
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 33%;
        opacity: 0.7;
        background: #313131;
        cursor: pointer;
        position: fixed;
        right: 1rem;
        bottom: 2rem;
    }

    /* Unfocus when clicking a button*/
    .toTop-arrow {
        outline: none;
        z-index: 99;
        cursor: pointer;
    }

    /*--Style Icon for arrow --*/

    #BackTop {
        display: block;
    }

    @media (min-width: 768px) {
        #BackTop {
            display: none;
        }
    }

    #toTopIcon {
        color: #fff;
    }

    /*-- Back a page link --*/

    #backtohome {
        font-size: 2rem;
        color: #fff;
        text-decoration: none;
    }

    #backtohome:hover {
        color: #16ce2b;
        text-decoration: none;
    }

    #backHomeIcon {
        font-size: 2rem;
        color: #fff;
        padding-right: 10px;
    }

    .backhome-wrapper {
        margin-top: 30px;
    }

    .image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    }

