{% extends 'base.html' %}

{% block page_title %}Shop{% endblock %}

{% block content %}

<div class="container">
    <div class="col-12">
        <h1 class="page-headings">Shop</h1>
        <hr class="block-divider">
        <p class="product-description">All prints here are available for delivery in various sizes.</p>
    </div>
</div>

<div class="container">
    <div class="row row-flex">
        {% for product in product %}

        <div class="col-xs-10 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
            <!--Code for modal came from https://getbootstrap.com/docs/4.0/components/modal/#large-modal-->
                <div class="modal fade" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ product.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body modal-body-centered">
                            
                                <img class="myImg" src="{{ MEDIA_URL }}{{ product.image }}" alt="">
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="product">
                    <img data-toggle="modal" data-target="#myModal{{ forloop.counter }}" class="img-responsive" src="{{ MEDIA_URL }}{{ product.image }}" alt="">
                </div>
                <div class="toggle-show-button">
                    <i class="fas fa-plus toggle-show-icon"></i>
                </div>

                <div class="toggle-description">
                        <h3 class="product-title">{{ product.name }}</h3>

                        <p class="product-description">{{ product.description }}</p>

                        <p class="product-price">£{{ product.price }}</p>

                        <p class="product-description">{{ product.catergorie }}</p>

                        <p class="product-description">{{ product.size }}</p>
                        
                        <!-- <label class="select-size-label" for="sel1">Select Size:</label>
                        <select id="size-options" name="size_options">
                        {% for size_choices in product.size %}
                                <option class="size-option">{{ size_choices }}</option>
                        {% endfor %}
                        </select> -->

                    <form class="quantity-select-form" method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" value="1" min="1" max="999" class="form-control" placeholder="Quantity">
                            <span class="input-group-btn">
                            <button class="btn" type="submit"> Add </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button type="button" id="BackTop" class="toTop-arrow"><i class="fas fa-caret-up" id="toTopIcon"></i></button>
</div>


{% endblock %}