{% extends 'base.html' %}

{% block page_title %}Shop{% endblock %}

{% block content %}

<div class="container">
    <div class="col-12">
        <h1 class="page-headings">Shop</h1>
        <hr class="block-divider">
        <p class="product-description">All prints here are available for delivery in various sizes.</p>
    </div>
</div>

<div class="container">
    <div class="row row-flex">
        {% for product in product %}

        <div class="col-xs-10 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div id="myModal" class="modal" data-toggle="modal" data-target="#myModal{{product.image.pk}} {{forloop.counter0}}">
                    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                    <img class="modal-content" id="img01" alt="Larger version of original photo">
                </div>
                <div class="myImg product" style="background-image: url('{{ MEDIA_URL }}{{ product.imag }}')"></div>
                <div class="toggle-show-button">
                    <i class="fas fa-plus toggle-show-icon"></i>
                </div>
                <div class="toggle-description">
                        <h3 class="product-title">{{ product.name }}</h3>

                        <p class="product-description">{{ product.description }}</p>

                        <p class="product-price">£{{ product.price }}</p>
                        
                        <label class="select-size-label" for="sel1">Select Size:</label>
                        <select id="size-options">
                        {% for size_choices in product.size %}
                                <option class="size-option">{{ size_choices }}</option>
                        {% endfor %}
                        </select>

                    <form class="quantity-select-form" method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" value="1" min="1" max="999" class="form-control" placeholder="Quantity">
                            <span class="input-group-btn">
                            <button class="btn" type="submit"> Add </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>


{% endblock %}