{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %}Checkout{% endblock %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}

<div class="container">
    <div class="col-12">
        <h1 class="page-headings">Checkout</h1>
        <hr class="block-divider">
        <p class="product-description">Review your order before filling out your details. Expect a email confirmation once the payment has gone through.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 backhome-wrapper">
            <a id="backtohome" href="{% url 'view_cart' %}"><i class="fas fa-shopping-cart" id="backHomeIcon"></i>Back to Cart</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-flex checkout-row">
        {% for item in cart_items %}
            <div class="col-12 col-sm-4 col-md-3 panel-checkout">
                <div class="panel-heading-checkout">
                    <div class="product-checkout" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
                </div>
                <div class="panel-body-checkout">
                    <div class="caption">
                        <h3 class="product-title-checkout">{{ item.product.name }}</h3>
                        <p class="product-description-checkout">{{ item.product.description }}</p>
                        <p class="product-description-checkout">{{ item.quantity }}</p>
                        <p class="product-price">{{ item.size }}</p>
                        <p class="product-price">£{{ item.product.price }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row total-checkout-wrapper">
        <div class="col-12">
            <p class="product-description">Total</p>
            <p class="product-price"><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>{{ total }}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row payment-forms">
            <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
                <div class="col-12 col-md-6">
                        <legend class="checkout-title">Your Details</legend>

                        <div id="credit-card-errors" style="display: none;">
                            <div class="alert-message block-message error" id="stripe-error-message"></div>
                        </div>

                        <div class="form-group col-md-6">
                            {{ order_form | as_bootstrap }}
                        </div>
                </div>
                <div class="col-12 col-md-6">
                        <legend class="checkout-title">Payment Details</legend>

                        <div class="form-group col-md-6">
                            {{ payment_form | as_bootstrap }}
                        <div class="form-group col-md-12 text-center">
                            <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                        </div>
                        </div>

                        {% csrf_token %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}