{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Login Page{% endblock %}

{% block page_heading %}User Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row aligner">
        <div class="col-12 aligner-item">
            <form method="POST">
                {% csrf_token %} {{ login_form | as_bootstrap }}
                <div class="text-center">
                    <button type="submit" class="btn btn-default">Login</button>
                </div>
            </form>
            <p class="text-center"><a href="{% url 'password_reset' %}">Reset Password</a></p>
        </div>
    </div>
</div>


{% endblock %}

