{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Registration Page{% endblock %}



{% block content %}

<div class="image-wrapper">
    <img class="img-bg-login" src="{{ MEDIA_URL }}images/18.jpg" alt="background-image">

    <div class="container">
        <div class="col-12">
            <h1 class="page-headings">Register</h1>
            <hr class="block-divider">
            <p class="product-description">Register to purchase prints from my online shop. Soon to be setting up a newsletter to keep you updated 
            on upcoming gallery and collaboration events!</p>
        </div>
    </div>

    <div class="container register-form aligner">
        <div class="row aligner justify-content-center">
            <div class="col-12 aligner-item register">
                <p class="control-label text-center">If you already have an account, you can <a href="{% url 'login' %}">Sign In</a></p>

                <form method="POST">
                        {% csrf_token %} 
                        {{ registration_form | as_bootstrap }}
                        {{ profile_form | as_bootstrap }}
                    <div class="col-12 text-center">
                        <button class="btn btn-default" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


{% endblock %}

