{% extends 'base.html' %}

{% block page_title %}Canvas Page{% endblock %}


{% block content %}

<div class="container">
    <div class="col-12">
        <h1 class="page-headings">Canvas</h1>
        <hr class="block-divider">
        <p class="product-description">All art shown was created and belongs to Cormac Thomas Eddery. Always open to collaborations, please contact via the 'About' page.</p>
    </div>
</div>


<div class="container">
    <div class="row row-flex">
        {% for art in art %}

        <div class="col-xs-10 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
            <!--Code for modal came from https://getbootstrap.com/docs/4.0/components/modal/#large-modal-->
                <div class="modal fade" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ art.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <img class="myImg" src="{{ MEDIA_URL }}{{ art.image }}" alt="">
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="product">
                    <img data-toggle="modal" data-target="#myModal{{ forloop.counter }}" class="myImg img-responsive" src="{{ MEDIA_URL }}{{ art.image }}" alt="">
                </div>

                <div class="toggle-show-button">
                    <i class="fas fa-plus"></i>
                </div>
                <div class="toggle-description">
                    <h3>{{ art.name }}</h3>

                    <p class="product-description">{{ art.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button type="button" id="BackTop" class="toTop-arrow" style="z-index: 100;"></button>
</div>
{% endblock %}