{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %}Cart{% endblock %}

{% block content %}

<div class="container">
    <div class="col-12">
        <h1 class="page-headings">Your Cart</h1>
        <hr class="block-divider">
        <p class="product-description">All orders will be dispatched within 3-5 working days and will be sent hand packaged, 1st class, through the Royal Mail</p>
    </div>
</div>

<div class="container">
    <div class="row row-flex">
    
        {% for item in cart_items %}
        
        <div class="col-12 col-sm-6 col-md-4 panel-cart">
            <div class="panel-heading-cart">
                <div class="product-cart" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
            </div>
            <div class="panel-body-cart">
                <div class="caption">
                    <h3 class="product-title-checkout">{{ item.product.name }}</h3>
                    <p class="product-description">{{ item.product.description }}</p>
                    <p class="product-price">£{{ item.product.price }}</p>
                    <p class="product-description">{{ product.catergorie }}</p>
                        <p>

                            <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">Qty</div>
                                        <input name="quantity" type="number" value="{{item.quantity}}" min="0" max="999" class="form-control">
                                        <div class="input-group-addon">{{item.quantity}}</div>
                                        <button for="quantity" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                            </form>
                            
                            <form class="form-inline quantity-select-form" method="post" action="{% url 'adjust_cart' item.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="edit-size-label" for="size-options">Size:</label>
                                            <select id="size-options" name="size-options">
                                                {% for size_choices in item.product.size %}
                                                        <option class="size-option">{{ size_choices }}</option>
                                                {% endfor %}
                                            </select>
                                        <button for="size-options" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>                               
                                    </div>
                                </div>
                            </form>
                        </p>
                </div>
            </div>
        </div>
        {% empty %}
                <div class="container">   
                    <div class="row">
                        <div class="col-12">
                            <p class="product-title">There are no items in your cart!</p>
                        </div>
                    </div>
                </div>  
        {% endfor %}
        
        <div class="col-12 col-sm-6 text-center total-wrapper">
            <p class="product-description">Total</p>
            <p class="product-price"><span class="glyphicon glyphicon-pound" aria-hidden="true"></span>£{{ total }}</p>
            {% if cart_items %}
                <a href="{% url 'checkout' %}" class="btn btn-success" role="button"></span>Checkout</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}