{% load staticfiles %}
{% include 'message.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_title %}Ecommerce{% endblock %}</title>
    <script src="https://kit.fontawesome.com/1d7b4fd179.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css"/>
    <script>
    var map;
    function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 50.827930, lng: -0.168749 },
        zoom: 12
    });
    };
    </script>
</head>

<body>
    <!-- <div id="page-container"> -->
        
        
            <nav id="main-navbar" class="nav navbar-nav navbar-inverse navbar-default navbar-expand-lg navbar-fixed-top">
                <div class="container d-flex flex-grow-1">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle float-right collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand nav-anima" href="{% url 'index' %}">CTEddery</a>      
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle nav-anima" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Gallery
                                    </a>
                                    <ul class="dropdown-menu navbar-dropdown-heading" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{% url 'canvas' %}">Canvas</a></li>
                                        <li><a class="dropdown-item" href="{% url 'paper' %}">Paper</a></li>
                                    </ul>
                                </li>
                                <li><a class="nav-anima" href="{% url 'product' %}">Shop</a></li>
                                <li>
                                    <a class="nav-anima" href="{% url 'view_cart' %}">
                                        <i class="fas fa-shopping-cart"></i>
                                        {% if product_count > 0 %}
                                        <label class="badge badge-warning">{{ product_count }}</label>
                                        {% endif %}
                                    </a>
                                </li>
                                <li><a class="nav-anima" href="{% url 'logout' %}">Log Out</a></li>
                            {% else %}
                                <li><a class="nav-anima" href="{% url 'about' %}">About</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-anima nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Gallery
                                    </a>
                                    <ul class="dropdown-menu navbar-dropdown-heading" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{% url 'canvas' %}">Canvas</a></li>
                                        <li><a class="dropdown-item" href="{% url 'paper' %}">Paper</a></li>
                                    </ul>
                                </li>
                                <li><a class="nav-anima" href="{% url 'product' %}">Shop</a></li>
                                <li><a class="nav-anima" href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Register</a></li>
                                <li><a class="nav-anima" href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>
                                <li>
                                    <a class="nav-anima" href="{% url 'view_cart' %}">
                                        <i class="fas fa-shopping-cart"></i>
                                        {% if product_count > 0 %}
                                        <label class="badge badge-warning">{{ product_count }}</label>
                                        {% endif %}
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
       
        <div id="content-wrap">   

        {% if messages %}
                <script>
                    {% for message in messages %}
                        $(document).ready(function () {
                            $('.toast').toast('show');
                            $('.close').click(function(){
                                $('.toast').hide();
                            })
                        });
                    {% endfor %}
                </script>
        {% endif %}   

            
                {% block content %}{% endblock %}
            
            
        </div>

        <footer id="footer">
            <div class="container">
                <div class="row justify-content-center no-gutters">
                        <div class="col-12 social">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a target="_blank" href="">
                                        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                                        <span class="sr-only">Facebook</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a target="_blank" href="">
                                        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                                        <span class="sr-only">Twitter</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a target="_blank" href="">
                                        <i class="fab fa-instagram fa-2x"></i>
                                        <span class="sr-only">Instagram</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    <div class="row justify-content-center no-gutters">
                        <div class="col-12 footer-text">
                            <p>All Art and Images belong to the Artist Cormac Thomas Eddery</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- </div> -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxmHymtoJ-lgW39kFxnS5WnKqA0BehWJM&callback=initMap" type="text/javascript" async defer></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/product.js' %}"></script>
    {% block head_js %}
    {% endblock head_js %}
</body>

</html>